<ion-header>

    <ion-navbar color="dark">
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
  
      <ion-title>
        <img src="assets/img/logo-top.png" style="width: 30%;" alt="">
      </ion-title>
  
      <ion-buttons end>
        <button ion-button icon-only (click)="openModal()">
          <ion-icon name="contact"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  
  </ion-header>



<ion-content padding>
  <div style="margin-bottom: 20px;">
  <div id="profissional" *ngIf="pageId == 'profissional'" >
      <h2 style="text-align: center">CONVIDE UM PROFISSIONAL</h2>
    <ion-row>
      <ion-col col-4 class="profissional" *ngFor="let item of workers" id="profissional">  
          <button ion-button [style.background-image]="getBackground(item.img)" style=" filter: grayscale(100%);height: 100px; margin-bottom: 15px;" class="imgworker" (click)="goPerfilProfissional(item.id)"></button>
          <div class="icon"><img src="assets/imgs/hue.png" style="width: 19px; height: 14px; margin-right: 63px;"></div>
          <ion-label class="name">{{item.nome}}</ion-label>
          <ion-row>
              <ion-col>
                <button ion-button class="btn-star">
                  <ion-icon *ngIf="item.estrelas >= 1" class="icon-star" name="md-star" style="color: #e8b03e"></ion-icon>
                  <ion-icon *ngIf="item.estrelas < 1" class="icon-star" name="ios-star-outline" style="color: #a9a8a7;"></ion-icon>
                </button>
                <button ion-button class="btn-star">
                  <ion-icon *ngIf="item.estrelas >= 2" class="icon-star" name="md-star" style="color: #e8b03e"></ion-icon>
                  <ion-icon *ngIf="item.estrelas < 2" class="icon-star" name="ios-star-outline" style="color: #a9a8a7;"></ion-icon>
                </button>
                <button ion-button class="btn-star">
                  <ion-icon *ngIf="item.estrelas >= 3" class="icon-star" name="md-star" style="color: #e8b03e"></ion-icon>
                  <ion-icon *ngIf="item.estrelas < 3" class="icon-star" name="ios-star-outline" style="color: #a9a8a7;"></ion-icon>
                </button>
                <button ion-button class="btn-star">
                  <ion-icon *ngIf="item.estrelas >= 4" class="icon-star" name="md-star" style="color: #e8b03e"></ion-icon>
                  <ion-icon *ngIf="item.estrelas < 4" class="icon-star" name="ios-star-outline" style="color: #a9a8a7;"></ion-icon>
                </button>
                <button ion-button class="btn-star">
                  <ion-icon *ngIf="item.estrelas >= 5" class="icon-star" name="md-star" style="color: #e8b03e"></ion-icon>
                  <ion-icon *ngIf="item.estrelas < 5" class="icon-star" name="ios-star-outline" style="color: #a9a8a7;"></ion-icon>
                </button>
              </ion-col>
          </ion-row>
    
          <ion-label class="concluido" stacked color="grey" style="margin-top: 6px; background-color: transparent;">{{item.trabalhos_concluidos}} concluídos</ion-label>
          <button ion-button color="light" class="convida" style="width: 74%; color: #96928b; border-color: #141f40; " (click)="presentAlert(item.id)">CONVIDAR</button>
      </ion-col>
  
    </ion-row>
    <br>
    <br>
    
    <button ion-button name="pular" class="pular" color="light" (click)="goPage('ProjetosPage')" style="border: 1px solid #141f40; color: #141f40; width: 160px; margin-left: 87px;">PULAR ETAPA</button>
    <button ion-button name="publicar" class="publicar" color="light" style="border: 1px solid #141f40; color: #141f40; width: 160px; margin-left: 87px;" (click)="publicar(categoriaProfissional,subCategoriaProfissional,nomeServico,orcamento,tipoPagamento,disponibilidade)">PUBLICAR</button>
  </div>


  <div class="pagetabs" id="publicacao" *ngIf="pageId == 'publicacao'">
    <h5>Publicação</h5>
    <ion-list>
      <ion-item *ngIf="nomeServico">
        <ion-label>Nome do serviço:</ion-label>
        <div item-content class="itemContent">
          {{nomeServico}}
        </div>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item *ngIf="categoriaProfissional">
        <ion-label>Categoria:</ion-label>
        <div item-content class="itemContent">
          {{categoriaProfissional}}
        </div>
      </ion-item>
      <ion-item *ngIf="subCategoriaProfissional">
        <ion-label>Subcategoria</ion-label>
        <div item-content class="itemContent">
          {{subCategoriaProfissional}}
        </div>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item *ngIf="orcamento">
        <ion-label>Orçamento:</ion-label>
        <div item-content class="itemContent">
          {{orcamento}}
        </div>
      </ion-item>
      <ion-item *ngIf="tipoPagamento">
        <ion-label>Tipo de pagamento:</ion-label>
        <div item-content class="itemContent">
          {{tipoPagamento}}
        </div>
      </ion-item>
      <ion-item *ngIf="disponibilidade">
        <ion-label>Disponibilidade:</ion-label>
        <div item-content class="itemContent">
          {{disponibilidade}}
        </div>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="prof">
      <h5>Profissional escolhido:</h5>
      <ion-item>
        <ion-label>Nome do profissional:</ion-label>
        <div item-content class="itemContent">
          {{prof.nome}}
        </div>
      </ion-item>
      <ion-item>
        <ion-label  >Trabalhos concluídos:</ion-label>
        <div item-content class="itemContent">
          {{prof.trabalhos_concluidos}}
        </div>
      </ion-item>
      <ion-item>
        <ion-label >Classificação:</ion-label>
        <div item-content class="itemContent">
          {{prof.estrelas}} estrelas
        </div>
      </ion-item>
    </ion-list>
    
  </div>
  </div>
</ion-content>
<ion-footer class="footer" style="text-align: center;height: 70px; background: linear-gradient(#394772, #5064a7);">
  <div style="display: inline-table;">
    <button ion-button name="notificações" color="light" icon-only class="button-footer" style="top: 5px; min-width: 4.9em; background-color: transparent;">
        <img src="assets/imgs/sino.png" style="max-width: 40%; background-color: transparent;">
        
      </button>
    <h6 style="margin-top: 3px;font-size: 11px;color: #fff;font-weight: 50;">NOTIFICAÇÃO</h6>
  </div>
  <div style="display: inline-table; ">
      <button ion-button name="mensagens" color="light" icon-only class="button-footer" style="top: 3px; min-width: 7.9em; background-color: transparent;">
        <img src="assets/imgs/chat.png" style="max-width: 35%;">
      </button>
    <h6 style="margin-top: 3px;font-size: 11px;color: #fff;font-weight: 50;">MENSAGEM</h6>
  </div>
  <div style="display: inline-table;">
      <button ion-button name="projetos" color = "light" icon-only class="button-footer" style="top: 3px; min-width: 4.9em; background-color: transparent;" (click)="goPage('ProjetosPage');idcapacete" >
          <img src="assets/imgs/chapeuzinho.png" style="max-width: 51%;">
    </button>
    <h6 style="margin-top: 3px;font-size: 11px;color: #fff;font-weight: 50;" >PROJETO</h6>
  </div>

</ion-footer>