page-perfil-profissional {

    .toolbar{
        text-align: -webkit-center;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
        color: #fff;
    }
    .toolbar-background-md{
        background: #fbb22f !important;
    }
    .button-footer{
        width: 31% !important;
    }   
    .navbar{
        background-color: blue !important;
    }
    .scroll-content {

        background-color: lightgrey;
        margin-top: 60  px !important;
    }
    .button-footer{
        width: 31% !important;
    }
    .footer{
        background-color: navy !important;
    }
    .icon-md{
         color: white;
     }
     .button-md-light{
        background-color: #fff0;
        width: 100%;
        box-shadow: none;
    }
    .icon-button-footer{
        margin-top: 0px !important;
    }

    .btn{
        width: 100px;
    }
    .btn-star{
        background-color: transparent !important;
        width: 0px!important;
        height: 30px;
        box-shadow: none;
        padding-left: 6px;
    }
}