page-perfil-profissional {

    .toolbar{
        text-align: -webkit-center;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
        color: #fff;
    }
    .toolbar-background-md{
        background: #fbb22f !important;
    }
    .button-footer{
        width: 56% !important;
    }   
    .navbar{
        background-color: blue !important;
    }
    .scroll-content {

        background-color: lightgrey;
        margin-top: 60  px !important;
        padding: 0px !important;
    }
    
    .footer{
        background: linear-gradient(#394772,#5064a7 );
    }
    .icon-md{
         color: white;
     }
     h6{
        font-size: 11px;
        color: white;
        font-weight: 300;
    }
    .button-inner{
        color: inherit;
    }
     .button-md-light{
        background-color: #fff0;
        width: 100%;
        box-shadow: none;
    }
    
    
    .icon-button-footer{
        margin-top: 0px !important;
    }

    .btn{
        width: 100px;
        min-height: 0px;
        height: 18px;
        left: -15px;
        color: #fff;
        font-weight: 100;
        text-transform: none;
        font-size: 15px;
        margin-left: 13px;
    }
    .nome{
        color: #141f40;
        margin-left: 40px;
        margin-top: 25px !important;
        margin-bottom: 0px;
        font-weight: 600;
        font-size: 19px;
    }
    .txtbol{
        margin-top: -49px;
        width: 85px;
        font-size: 8px;
        margin-left: -6px;
        color: #475891;
        font-weight: 900;
        text-align: center;
    }
    .txtbola{
        font-size: 8px;
        color: #475891;
        font-weight: 900;
        text-align: center;
    }
    .linha{
        border-bottom: solid 1px;
        border-color: #141f40;
        width: 285px;
        margin-left: 30px;
        margin-bottom: -10px;
        margin-top: 20px;
    }
    .pinposo{
        margin-left: 40px;
        color: #141f40;
        font-size: 16px;
        font-weight: 400;
    }
    .categorias{
        color: #141f40;
        margin-left: 64px;
        margin-top: 25px !important;
        margin-bottom: 3px;
        font-weight: 600;
        font-size: 18px;
    }
    .direita{
        background: none;
        width: 32px;
        position: absolute;
        top: 38px;
        left: 310px;
    }
    .esquerda{
        background: none;
        width: 32px;
        margin-top: 38px;
        position: absolute;
        margin-left: 10px;
    }
    .item-md{
        border: solid 1px;
        width: 300px;
        margin-left: 20px;
        background-color: #d3d3d3;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-color: #737373;
    }
    .descricao{
        color: #3d3b3b;
        width: 195px;
        margin-left: 40px;
        font-size: 15px;
        margin-top: 5px;
        font-weight: 400;
    }
    .enviar{
        background: #000;
        color: #fff;
        border-radius: 3px;
        margin-left: 240px;
        margin-top: 10px;
        width: 50px;
        font-size: 9px;
        height: 14px;
        letter-spacing: 1px;
        font-weight: 500;
    }
    .col{
        width: 100px;
        min-height: 0px;
        height: 18px;
        left: -15px;
    }
    page-perfil-profissional #p{
        margin-bottom: 0px;
        margin-left: 30px;
    }
    .btn-star{
        background-color: transparent !important;
        width: 0px!important;
        height: 30px;
        box-shadow: none;
        padding-left: 8px;
    }
    .perfil{
        background: linear-gradient(#394772, #5064a7);
        width: 100%;
        height: 280px;
        padding-top: 25px;
    }
    .button-inner:active{
        color: #fff

    }
    #p{
        margin-bottom: 0px;
        margin-left: 30px;
        color:#000;
    }
}